* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/Makefile.am.old -text
/NEWS -text
/README -text
/alt.xsl -text
/apertium-ca-it.ca-it.dix -text
/apertium-ca-it.ca-it.t1x -text
/apertium-ca-it.ca-it.t2x -text
/apertium-ca-it.ca-it.t3x -text
/apertium-ca-it.ca.dix -text
/apertium-ca-it.it-ca.t1x -text
/apertium-ca-it.it-ca.t2x -text
/apertium-ca-it.it-ca.t3x -text
/apertium-ca-it.it.dix -text
/apertium-ca-it.post-ca.dix -text
/apertium-ca-it.post-it.dix -text
/autogen.sh -text
/ca-it.prob -text svneol=unset#unset
/configure.ac -text
dev/cross-model-ca-es-it.xml -text
dev/cross.xml -text
dev/not-common-apertium-es-it.es-it.dix -text
dev/patterns-not-detected.xml -text
/it-ca.prob -text svneol=unset#unset
/modes.xml -text
